<div class="navbar">
  <ul class="navbar-items">
    <li class="navbar-item">
      <%= link_to "About", "pages", class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "Blog", "articles", class: "nav-link" %>
    </li>
    <li class="navbar-item">
      <%= link_to "Random", "#", class: "nav-link" %>
    </li>
  </ul>
</div>
