.card-article {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: black solid 2px;
  margin: 8px;
  padding: 40px 20px;
  position: relative;
}

.card-article li {
  list-style: none;
}

.card-article-header {
  position: absolute;
  left: 16px;
  top: 4px;
}

.card-article-body {
  position: absolute;
  bottom: 32px;
  left: 16px;
}
