.card-article {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border: black solid 2px;
  margin: 8px;
  padding: 20px 20px;
}

.card-article li {
  list-style: none;
}
